<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<div>
  <mat-card>
    <mat-card-content>
      <h2 class="example-h2">Programming languages</h2>
      <mat-tab-group class="demo-tab-group">
        <mat-tab label="Java" >
            <ng-template mat-tab-label>
                <mat-icon><i class="icon-java"></i> Java</mat-icon>
              </ng-template>  
          <div class="demo-tab-content">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue. Phasellus volutpat neque ac dui mattis
            vulputate. Etiam consequat aliquam cursus. In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur
            felis nec, feugiat ultricies mi. Aliquam erat volutpat. Nam placerat, tortor in ultrices porttitor, orci enim
            rutrum enim, vel tempor sapien arcu a tellus.
          </div>
        </mat-tab>
        <mat-tab label="Ruby">
            <ng-template mat-tab-label>
                <mat-icon><i class="icon-ruby"></i> Ruby</mat-icon>
              </ng-template>
          <div class="demo-tab-content">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue. Phasellus volutpat neque ac dui mattis
            vulputate. Etiam consequat aliquam cursus. In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur
            felis nec, feugiat ultricies mi. Aliquam erat volutpat. Nam placerat, tortor in ultrices porttitor, orci enim
            rutrum enim, vel tempor sapien arcu a tellus.
          </div>
        </mat-tab>
        <mat-tab label="Haskell">
            <ng-template mat-tab-label>
                <mat-icon><i class="icon-haskell"></i> Haskell</mat-icon>
              </ng-template>
          No content
        </mat-tab>
        <mat-tab label="C++">
            <ng-template mat-tab-label>
                <mat-icon><i class="icon-cplusplus"></i> C++</mat-icon>
              </ng-template>
          <div class="demo-tab-content">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue. Phasellus volutpat neque ac dui mattis
            vulputate. Etiam consequat aliquam cursus. In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur
            felis nec, feugiat ultricies mi. Aliquam erat volutpat. Nam placerat, tortor in ultrices porttitor, orci enim
            rutrum enim, vel tempor sapien arcu a tellus.
            <br />
            <br /> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue. Phasellus volutpat neque
            ac dui mattis vulputate. Etiam consequat aliquam cursus. In sodales pretium ultrices. Maecenas lectus est, sollicitudin
            consectetur felis nec, feugiat ultricies mi. Aliquam erat volutpat. Nam placerat, tortor in ultrices porttitor,
            orci enim rutrum enim, vel tempor sapien arcu a tellus.
          </div>
        </mat-tab>
        <mat-tab label="Python">
            <ng-template mat-tab-label>
                <mat-icon><i class="icon-python"></i> Python</mat-icon>
              </ng-template>
          No content
        </mat-tab>
      </mat-tab-group>
    </mat-card-content>
  </mat-card>
</div>